[Unit]
Description=Holiday Lights Controller
After=network.target

[Service]
Type=simple
ExecStart=/opt/Holiday-Lights/venv/bin/python /opt/Holiday-Lights/pi_script.py
WorkingDirectory=/opt/Holiday-Lights
Restart=always
User=sudo
Group=sudo
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target